body {
    margin: 0;
    font-family: Arial;
    color: white;
}

nav {
    background: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.content {
    text-align: center;
    margin-top: 100px;
}

.home {
    background: url(10.png) no-repeat center/cover;
}

.about {
    background: linear-gradient(black, gray);
}

.gallery {
    background: #111;
}

.register {
    background: linear-gradient(black, purple);
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .gallery img {
    width: 200px;
    margin: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}


.form-box {
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
}

footer {
    text-align: center;
    background: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%
} .logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo h2 {
    color: gold;
    margin-left: 10px;
}
.login {
    background: linear-gradient(black, gold);
}

.form-box {
    text-align: center;
    margin-top: 100px;
}

.form-box h1 {
    color: gold;
}

.tagline {
    color: white;
}

input {
    padding: 10px;
    margin: 10px;
    width: 220px;
}
    button {
       
     cursor: pointer;
    padding: 10px 20px;
    background: pink;
    border: none;
    transition: 0.3s;
}

button:hover {
    background: deeppink;
    color: white;
    transform: scale(1.05);
}


#message {
    margin-top: 10px;
    color: yellow;
}
paragraphy{
    color: #111; 
    text-transform: uppercase;
}
